<section id="about" class="w-full">
  <div class="mx-auto max-w-[1440px] px-4 md:px-8 py-20 grid grid-cols-2 md:grid-cols-12 gap-x-4">
    
    <h2 class="col-span-2 text-3xl mb-6">About <span class="font-bold">Me</span></h2>
    <p class="col-span-2">Soy un desarrollador apasionado por...</p>

  </div>
</section>
