    <section class="w-full bg-slate-100 border-b-2 border-[#1C1C1C] text-[#2C2C2C] font-black flex justify-evenly items-center py-4">
      <span>HTML</span>
      <span>CSS</span>
      <span>JAVASCRIPT</span>
      <span>REACT</span>
      <span>TAILWIND</span>
      <span>SASS</span>
      <span>GIT</span>
    </section>
