<section id="about" class="w-full">
  <div class="mx-auto max-w-[1440px] px-4 md:px-8 py-20 grid grid-cols-2 md:grid-cols-12 gap-x-4">
    
    <h2 class="text-3xl font-bold mb-6">Contacto</h2>
    <p>Puedes contactarme en...</p>

  </div>
</section>