---
import { Mail, TextAlignJustify } from '@lucide/astro'
---
<header class="flex items-center justify-between px-4">
  <span class='text-xl leading-6 font-display font-black italic'>DC</span>

  <div class="flex gap-2">
  <button class="bg-gray-200 p-4 rounded-md">
    <Mail class=''/>
  </button>
  <button class="text-white bg-black p-4 rounded-md">
    <TextAlignJustify class=''/>
  </button>
  </div>
</header>