---
import Github from '@/assets/icons/github.svg';
import Telegram from '@/assets/icons/telegram.svg';
import Facebook from '@/assets/icons/facebook.svg';
import IconButton from './ui/IconButton.astro';
---
<section id="hero" class="w-full">
  <div class="mx-auto max-w-[1440px] px-4 md:px-8 grid grid-cols-2 md:grid-cols-12 gap-x-4">
    <div class="flex flex-col col-span-12 md:col-span-6 gap-y-8">
      <h1 class="text-4xl font-display leading-normal">Hello I'am <span class="font-black">Daniel C. Frontend Developer</span> Based in <span class="font-bold">Perú.</span></h1>
      <p class="text-sm text-zinc-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dolorum illo quibusdam aliquid ipsa exercitationem fuga delectus incidunt inventore doloribus eum illum veritatis unde quis, repudiandae, ducimus accusamus modi ipsam?</p>


      <div class="flex gap-4">
        <IconButton href="#">
          <Github  class="w-8 h-8 rounded-full"/>
        </IconButton>
        <IconButton>
          <Telegram  class="w-8 h-8 rounded-full"/>
        </IconButton>
        <IconButton>
          <Facebook  class="w-8 h-8 rounded-full"/>
        </IconButton>
      </div>
      
    </div>    
  </div>
</section>


