<div class="w-full bg-[#1C1C1C]">
  <main class="mx-auto max-w-[1440px] px-4 md:px-8 grid grid-cols-2 md:grid-cols-12 gap-x-4">

    <h1 class="@container col-span-2 md:col-span-12 text-[clamp(3.5rem,15cqw,7rem)] py-4 leading-none font-black italic flex flex-col lg:flex-row lg:gap-x-6">
      <span class="">FRONT-END</span>
      <span class="">DEVELOPER</span>
    </h1> 

    <section class="col-span-6">
      <p class="text-xl leading-6 font-semibold">
        Enfocado en la armonía visual y el código limpio. Trabajemos juntos para transformar tus conceptos en experiencias digitales reales y funcionales.
      </p>

      <button class="bg-slate-100 text-black text-xl px-3 py-2">
        Contact me
      </button>
      <button class="bg-slate-100 text-black text-xl px-3 py-2">
        Download CV
      </button>
    </section>

    <section class="col-span-2 md:col-span-6 mt-8 md:mt-0 border-2 border-slate-100">
      <img src="" alt="">
    </section>
  </main>
</div>
