<section id="hero" class="w-full bg-[#1C1C1C] text-slate-100">
  <div class="mx-auto max-w-[1440px] px-4 md:px-8 py-20 grid grid-cols-2 md:grid-cols-12 gap-x-4">
    
    <h1 class="text-5xl font-bold">Daniel Carbajal<span class="text-pink-500">.</span></h1>
    <p>Frontend Developer...</p>

  </div>
</section>