<section id="projects" class="w-full text-white bg-black">
  <div class="mx-auto max-w-[1440px] px-4 md:px-8 py-20 grid grid-cols-2 md:grid-cols-12 gap-x-4">
    
    <h2 class="col-span-2 md:col-span-12 text-3xl mb-6 text-center">My <span class="font-bold">Projects</span></span>
    <div class="col-span-2 md:col-span-12"></div>

  </div>
</section>