---
import '@fontsource-variable/inter';
import '@fontsource-variable/sora';
import Header from '../components/Header.astro';
---

<style is:global>
  :root {
    --font-sans: 'Inter Variable', sans-serif;
    --font-display: 'Sora Variable', sans-serif;
  }
</style>

<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
  </head>

  <body class="min-h-screen w-full font-display">
    <Header />
    <slot />
  </body>
</html>
