---
import '@fontsource-variable/epilogue';
import '@fontsource-variable/inter';
import Header from '../components/Header.astro';
---

<style is:global>
  :root {
    --font-sans: 'Inter Variable', sans-serif;
    --font-display: 'Epilogue Variable', sans-serif;
  }
</style>

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
  </head>

  <body class="bg-slate-100 min-h-screen w-full text-slate-100 font-sans">
    <Header />
    <slot />
  </body>

</html>
